<!--Card - About-->

        <!--
            About
        -->
        <div class="content about">

            <!-- title -->
            <div class="title"><span class="first-word">About</span> Me</div>

            <!-- content -->
            <div class="row">
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="text-box">
                        <p>
                            I am Nasos, FullStack Developer from Greece and i live in Germany.<br>
                            I am an ambitious, results-oriented, and skilled Full Stack Developer with a background of success launching and
                            enhancing user focused websites and applications, leveraging software technologies that optimize business
                            processes and foster performance objectives. Growth-focused thought leader equipped with certifications in Java,
                            Scrum fundamentals, SQL, and UX Design, alongside experience in Spring Boot, Angular, and building complex
                            calculators aid troubleshooting bugs. Exceptionally dedicated professional with keen interpersonal,
                            communication, and organizational skills</p>
                    </div>
                </div>
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="info-list">
                        <ul>
                            <li><strong>Age . . . . .</strong> 29</li>
                            <li><strong>Residence . . . . .</strong> Germany</li>
                            <li><strong>Hire . . . . .</strong> Available</li>
                            <li><strong>Address . . . . .</strong> Bavaria, Bichl</li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>


