<div class="content skills">

    <!-- title -->
    <div class="title"><span class="first-word">My</span> Skills</div>

    <!-- content -->
    <div class="row">
        <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
            <div class="skills-list">
                <div class="skill-title border-line-h">
                    <div class="icon"><i class="fa">
                        <fa-icon [icon]="flagIcon" [ngClass]="['fa']"></fa-icon>
                    </i></div>
                    <div class="name">LANGUAGES</div>
                </div>
                <ul>
                    <li class="border-line-h">
                        <div class="name">Greek</div>
                        <div class="progress">
                            <div class="percentage" style="width:100%;"></div>
                        </div>
                    </li>
                    <li class="border-line-h">
                        <div class="name">English</div>
                        <div class="progress">
                            <div class="percentage" style="width:85%;"></div>
                        </div>
                    </li>
                    <li class="border-line-h">
                        <div class="name">German</div>
                        <div class="progress">
                            <div class="percentage" style="width:45%;"></div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


        <!-- skill item -->
        <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
            <div class="skills-list list">
                <div class="skill-title border-line-h">
                    <div class="icon"><i class="fa">
                        <fa-icon [icon]="listIcon" [ngClass]="['fa']"></fa-icon>
                    </i></div>
                    <div class="name">KNOWLEDGE</div>
                </div>
                <ul>
                    <li>
                        <div class="name">Java</div>
                    </li>
                    <li>
                        <div class="name">Spring Boot</div>
                    </li>
                    <li>
                        <div class="name">JavaScript</div>
                    </li>
                    <li>
                        <div class="name">TypeScript</div>
                    </li>
                    <li>
                        <div class="name">Angular</div>
                    </li>
                    <li>
                        <div class="name">MySql</div>
                    </li>
                    <li>
                        <div class="name">UI/UX</div>
                    </li>
                    <li>
                        <div class="name">SRUM</div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>
