.contact-arrow{
    margin: 0 8px;
    position: relative;
    top: -1px;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.my-image{
    background-image: url("https://drive.google.com/file/d/13wCbe7LypgmNomK9W8H7QwdTxT5xypt1/view?usp=share_link")!important;
}