<!--
    Resume
-->
<div class="content resume">

    <!-- title -->
    <div class="title">Resume</div>

    <!-- content -->
    <div class="row">

        <!-- experience -->
        <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
            <div class="resume-title border-line-h">
                <div class="icon"><i>
                    <fa-icon [icon]="briefcaceIcon"></fa-icon>
                </i></div>
                <div class="name">Experience</div>
            </div>
            <div class="resume-items">
                <div class="resume-item border-line-h active">
                    <div class="date">01/04/2022 - Present</div>
                    <div class="name">JUNIOR SOFTWARE ENGINEER</div>
                    <div class="company">DIGIBRIDGE</div>
                    <p>
                        Serve as software engineer for German company Inverso, integrating software technologies and
                        crafting innovative front-end solutions for insurance companies.
                    </p>
                </div>
                <div class="resume-item border-line-h">
                    <div class="date">10/01/2021 - 31/03/2022</div>
                    <div class="name">(Intership) Full Stack Developer</div>
                    <div class="company">OTS</div>
                    <p>
                        Cultivated technical training and applied skills in Java, Angular, Spring boot, and MySQL.
                        Crafted and developed web application from ground up for client suppliers of Marousi
                        municipality
                    </p>
                </div>
            </div>
        </div>

        <!-- education -->
        <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
            <div class="resume-title border-line-h">
                <div class="icon"><i>
                    <fa-icon [icon]="universityIcon"></fa-icon>
                </i></div>
                <div class="name">Education</div>
            </div>
            <div class="resume-items">
                <div class="resume-item border-line-h">
                    <div class="date">2021</div>
                    <div class="name">Western Greece Technical University</div>
                    <div class="company">Greece, Patra</div>
                    <p>
                        Bachelor's Degree in Software Engineer Technical University of Peloponnese
                    </p>
                </div>
                <div class="resume-item border-line-h">
                    <div class="date">01/02/2021 - 30/09/2021</div>
                    <div class="name">Software Developer</div>
                    <div class="company">PeopleCert</div>
                    <p>
                        Coursework - Java , JavaEE , Spring ,SpringBoot , Javascript ,Typescript, Angular , Sql ,MySql
                    </p>
                </div>
                <div class="resume-item">
                    <div class="date">2022</div>
                    <div class="name">Java Functional Programming</div>
                    <div class="company">Udemy</div>
                    <p>
                        Learn Java Functional Programming with Lambdas & Streams
                    </p>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

</div>

<!--
    Skills
-->
