<!--
    Works
-->
<div class="content works">

    <!-- title -->
    <div class="title"><span class="first-word">Recent</span> Works</div>


    <!-- content -->
    <div class="row grid-items border-line-v">

        <!-- work item photo -->
        <div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
            <div class="box-item">
                <div class="image">
                    <a href="https://user-images.githubusercontent.com/76260824/132859256-cfa2d03a-3b3c-4dc4-af0e-7cf3d677dfb9.png"
                       target="_blank" class="has-popup-image">
                        <img src="https://user-images.githubusercontent.com/76260824/132859256-cfa2d03a-3b3c-4dc4-af0e-7cf3d677dfb9.png"
                             alt=""/>
                        <span class="info">
												<span class="ion ion-image"></span>
											</span>
                    </a>
                </div>
                <div class="desc">
                    <a href="https://github.com/nasosvava/Pet-Club-main" target="_blank" class="name has-popup-image">(Link)Pet Club</a>
                    <div class="category">Image</div>
                </div>
            </div>
        </div>


        <div class="clear"></div>
    </div>

</div>
